# Copyright 2026 Tamas Bolner
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

model:
  # This can either be a local path or a model identifier from Hugging Face Model Hub.
  # If you set 'model.offline-mode' to 'false', then you can use "google/madlad400-3b-mt" here.
  name: google/madlad400-3b-mt

  # A "true" value will not allow the Transformer library to make calls to
  # Huggingface every time you load the model (run the app).
  # The offline mode will only work if 'model.name' contains a folder path instead of a name.
  # The "ture" value is recommended out of privacy concerns, but read the warning below:
  #
  # If the offline mode is forced, then you will not be able to use a model name
  # (like "google/madlad400-3b-mt") in the 'model.name' setting, but you have to use a path
  # to a local folder that contains all files.
  # You can set it to false first, pull the model, then turn it to offline mode.
  # Then the model will still be used from the cache dir: ~/.cache/huggingface/hub/...
  offline-mode: false

  # The only currently supported model type is "madlad".
  type: madlad

  # All prompts will start with this string.
  # {LANG} is a placeholder for the BCP-47 code of the target language,
  #   like "en", "de", "it", etc.
  # Example after substitution: "<2en>"
  prompt-prefix: "<2{LANG}>"

  # You must use a model that supports sentinel tokens.
  # These are used for separating parts of the source text, and keeping
  #   that separation in the translated text.
  # The {ID} placeholder is necessary, because each token needs to be unique.
  # Possible values for the ID: 0, 1, 2, 3, ..., 126, 127
  #  (But only 0 and 1 are used.)
  sentinel-token-template: "<extra_id_{ID}>"

  # How many inferences (prompts) to run in parallel.
  # If this is low, then the GPU will not be fully utilized.
  # If it is high, then it uses a lot of memory:
  #     - For 24 GB VRAM, use: inference-batch-size: 20 (If max context is 12 segments)
  #     - For 16 GB VRAM, use: inference-batch-size: 8 (If max context is 12 segments)
  inference-batch-size: 20

# The 2-3-letter BCP-47 code of the target language.
# (The source language is auto-detected by the model. To make sure the
#   source language is correctly detected, formulate the "document.static-context"
#   in a way that distinguishes it clearly from similar languages.)
target-language: en

# The context window tells the maximum number of characters or segments to use before
#   and after the current segment as a context for translation.
#   It doesn't split segments: If adding a segment would exceed the limit, it is skipped.
context-window:
  max-chars-before: 728
  max-segments-before: 6
  max-chars-after: 728
  max-segments-after: 6

document:
  # The static context is the secondary source of context. It is
  #   always appended before the first window segment in the translation
  #   prompt. You must use the source language.
  static-context:
    # "Subtitles for an Italian drama movie:"
    "Sottotitoli di un film drammatico italiano:"

  # Regular expression rules for text replacement before translation.
  # When a segment becomes empty after replacements, it will be skipped.
  # (This section is optional. You can remove it.)
  replace-rules:
    # Remove any text within square brackets (e.g., [MUSICA MISTERIOSA], [COLPI DI TOSSE])
    - pattern: "\\[[^\\]]*\\]"
      replacement: ""
    
    # In Italian, "ì" is a common shorthand for "sì"
    - pattern: "([^\\w]+|^)ì([^\\w]+|$)"
      replacement: "\\1sì\\2"
    
    # Same for a standalone "s" (also Italian-specific)
    - pattern: "([^\\w]+|^)s([^\\w]+|$)"
      replacement: "\\1sì\\2"
    
    # Remove any newline and whitespace characters, because those
    #   can make the madlad model behave erratically.
    - pattern: "\\s+"
      replacement: " "

# The start times are the same as in the source subtitles.
# The end times are adjusted based on reading speed.
# The start of the next subtitle limits the length of the current subtitle.
# In case there isn't enough space, the extra duration can be adjusted backwards
# if the previous subtitle allows it. For this, enable "allow-backwards-adjustment".
# (The numerical values are all floating-point.)
subtitle-timing:
  reading-speed-chars-per-second: 14.6
  min-duration-seconds: 0.5
  max-duration-seconds: 5.0
  allow-backwards-adjustment: true

# The path for the log files.
# Can be relative or absolute.
# Creates directories that don't exist.
# Use the {TIME} placeholder to insert the datetime.
# Leave it empty to disable logging.
logging-path: var/run-{TIME}.log
